/*
    Template: consulting
    Theme Name: Consulting Child Theme
    Theme URI: http://consulting.stylemixthemes.com/
    Author: StylemixThemes
    Author URI: http://stylemixthemes.com/
    Description: Consulting - Business and Finance WordPress theme. Using Consluting you can easily create a modern website with real content. Easily edit the real content and compose the page layout with drag & drop page builder Consulting is the best ever finance, consulting, brokerage WordPress theme. It’s fully Responsive and Easy to Customize using intuitive Drag & Drop Visual Composer and Theme Options panel in WordPress Customizer.
    Version: 1.1
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: blue, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, sticky-post, translation-ready
    Text Domain: consulting-child-theme
*/
/* changing position of social icons and adding login button */
.login-button {
  color: #ffffff;
  background-color: #006b63;
  height: 45px;
  padding-left: 16px;
  padding-right: 16px;
  float: right;
  border-radius: 3px;
  border: none;
  margin-left: 16px;
  transition: all 0.3s ease;
  /* font-weight: 700; */
  line-height: 45px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600;
}
.login-button.mobile {
  background-color: #fff;
  color: #006b63;
  float: none;
  /* height: 45px; */
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 0;
  display: block;
  width: 109px;
  line-height: 20px;
  margin-left: 44px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.login-button.mobile svg {
  fill: #006b63;
}
.login-button:hover {
  color: #006b63;
  background-color: #fcba37;
  text-decoration: none;
}
.login-button:hover svg {
  fill: #006b63;
}
.login-button svg {
  fill: #fcba37;
  vertical-align: -3px;
  margin-left: 15px;
  transition: all 0.3s ease;
}
.header_socials.changed {
  float: left;
  margin: 13px 20px 13px 0;
}
.header_socials.changed a {
  margin: 0 0 0 20px;
  color: #fcba37;
}
.header_socials.changed a:hover {
  margin: 0 0 0 20px;
  color: #ffd855;
}
.header_socials.changed.mobile {
  float: none;
  display: block;
}
@media only screen and (max-width: 400px) {
  .icon_text .text {
    width: 80%;
  }
}
/* changing position of social icons and adding login button end */
